<ion-header no-border>
  <ion-navbar>
    <ion-title>
      {{ask}}考试
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <!--pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."-->
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!list">
    没题目
  </div>
  <div *ngIf="!c.user.login">
    <p>请先登录</p>
    <button ion-button (click)="PageButtonService.goPage('LoginPage')">登录</button>
  </div>
  <ion-card *ngFor="let item of list;index as i">
    <ion-card-header>{{i+1}} . {{item.question}}</ion-card-header>
    <ion-card-content>
      <p [innerText]="item.q_code"></p>
      <p>选项 : {{item.options}}</p>
    </ion-card-content>
  </ion-card>

  <!--<ion-infinite-scroll [enabled]="false" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
