page-contact {
  .scroll-content {
    background: #f4f4f4;
    .label {
      font-size: 25px;
      img{
        vertical-align: middle;
        border-radius: 50%;
        height: 80px;
        width: 80px;
      }
      /*span {
        display: block;
        margin-left: 3rem;
        height: 80px;
        line-height: 80px;
      }*/
    }
    ul {
      li {
        overflow: hidden;
        margin-top: 1rem;
        border-radius: 10px;
        background: #ffffff;
        font-size: 18px;
        color: #7a9399;
        padding-bottom: 10px !important;
        //box-shadow: 0 5px 15px #888888;
        img {
          //vertical-align: middle;
          margin: {
            top:-6px;
            right: 5px;
          }
        }
        span{
          margin-top:2px;
        }
        div {
          color: #fd8077;
          margin-top: 2px;
          span {
            color: #c3d5d9;
          }
        }
      }
    }
  }
}
