.ion-md-wulvIcon-back:before, .ion-ios-wulvIcon-back:before{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon/back.svg");
  background-size: 20px 20px;
}
.ion-md-wulvIcon-login:before, .ion-ios-wulvIcon-login:before{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon/login.svg");
  background-size: 20px 20px;
}
.ion-md-wulvIcon-password:before, .ion-ios-wulvIcon-password:before{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon/password.svg");
  background-size: 20px 20px;
  //color: #aae1f2;
}
